<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}">
    <title>labgrid.elvees.com</title>
    <style>
    {% include "data/labgrid-web.css" %}
    </style>
</head>
<body class="body" id="body">

<div class="logo" id="logo">{{ logo }}</div>

<div class="navbar" id="navbar"></div>

<div class="help" id="help">{{ help }}</div>

<div class="version" id="version">
  Version: {{ version }}; build time = {{ date }}; Zuul build UUID: {{ zuul_build_uuid }}
</div>

<script>
  {% include "output/help.js" %}
</script>

</body>
</html>
